<div class="background">
  <p><%= msg %></p>
</div>

<main data-bs-spy="scroll" data-bs-target="#navbar" class="p-3">
  <article id="sobre" class="d-flex flex-wrap align-items-center justify-content-between mb-5">
    <div class="me-4">
      <h2>Sobre</h2>
      <hr>
      <p>É com grande empolgação e entusiasmo que saudamos todos os aventureiros, exploradores e entusiastas do Minecraft ao nosso novo servidor de apostas! Preparem-se para uma jornada repleta de diversão, desafios e, é claro, muita adrenalina!</p>
      <p>Neste vasto mundo virtual, você encontrará uma variedade de minigames emocionantes, perfeitos para testar suas habilidades e competir com outros jogadores. De desafios de parkour vertiginosos a arenas de combate cheias de ação, há algo para todos os gostos e níveis de habilidade. Então, junte seus amigos e preparem-se para se divertir ao máximo!</p>
    </div>
    <img src="/img/nether-2.jpg" aria-hidden="true">
  </article>

  <article id="mini-games" class="mb-5">
    <h2>Mini-games</h2>
    <hr>
    <div id="carousel-mini-game" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="carousel-cards">
            <div class="card bg-body-tertiary mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div id="hunger-games" class="col-md-4 img"></div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Hunger Games</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia id eum odit quis temporibus cum incidunt. Rem soluta maiores quis, voluptate enim.</p>
                    <p class="card-text text-body-secondary d-flex align-items-center" style="font-size: small;">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle me-2" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                      </svg>
                      Mais informações no servidor!
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card bg-body-tertiary mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div id="sky-wars" class="col-md-4 img"></div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Sky Wars</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia id eum odit quis temporibus cum incidunt. Rem soluta maiores quis, voluptate enim.</p>
                    <p class="card-text text-body-secondary d-flex align-items-center" style="font-size: small;">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle me-2" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                      </svg>
                      Mais informações no servidor!
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-cards">
            <div class="card bg-body-tertiary mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div id="boss-battle" class="col-md-4 img"></div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Boss Battle</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia id eum odit quis temporibus cum incidunt. Rem soluta maiores quis, voluptate enim.</p>
                    <p class="card-text text-body-secondary d-flex align-items-center" style="font-size: small;">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle me-2" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                      </svg>
                      Mais informações no servidor!
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card bg-body-tertiary mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div id="tnt-run" class="col-md-4 img"></div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">TNT Run</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia id eum odit quis temporibus cum incidunt. Rem soluta maiores quis, voluptate enim.</p>
                    <p class="card-text text-body-secondary d-flex align-items-center" style="font-size: small;">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle me-2" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                      </svg>
                      Mais informações no servidor!
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-cards">
            <div class="card bg-body-tertiary mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div id="pvp" class="col-md-4 img"></div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">PVP</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia id eum odit quis temporibus cum incidunt. Rem soluta maiores quis, voluptate enim.</p>
                    <p class="card-text text-body-secondary d-flex align-items-center" style="font-size: small;">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle me-2" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                      </svg>
                      Mais informações no servidor!
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card bg-body-tertiary mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div id="one-vs-one" class="col-md-4 img"></div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">1v1</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia id eum odit quis temporibus cum incidunt. Rem soluta maiores quis, voluptate enim.</p>
                    <p class="card-text text-body-secondary d-flex align-items-center" style="font-size: small;">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle me-2" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                      </svg>
                      Mais informações no servidor!
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel-mini-game" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel-mini-game" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </article>

  <article id="eventos" class="mb-5">
    <h2>Eventos</h2>
    <hr>
    <p>Mas as funcionalidades não param por aí! Em nosso servidor, você também encontrará eventos especiais, torneios emocionantes e até mesmo missões épicas que desafiarão suas habilidades e estratégias. E com atualizações regulares e novos conteúdos sendo adicionados constantemente, sempre haverá algo novo para descobrir e aproveitar.</p>
  </article>
  
  <article id="cassino" class="mb-5">
    <h2>Cassino</h2>
    <hr>
    <p>Além dos minigames, nosso servidor também oferece um luxuoso cassino, onde a sorte está sempre ao seu lado. Faça suas apostas em jogos clássicos como blackjack, roleta e pôquer, e sinta a emoção de ganhar grandes prêmios virtuais. Com gráficos impressionantes e uma atmosfera de cassino autêntica, você se sentirá como se estivesse em um verdadeiro paraíso do entretenimento.</p>
    <div id="cassino-img" class="me-3"></div>
  </article>
</main>
