<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="dark">
<head>
  <%- include('../partials/head') %>
  <title>Page not found | Blaze Rod</title>
  <style>
    body {
      text-align: center;
    }
    h1 {
      font-size: 6em;
    }
    a>img {
      transition: .15s ease-in-out;
    }
    a:hover>img {
      scale: .95;
      opacity: .7;
    }
  </style>
</head>

<body>
  <h1 class="m-4">404</h1>
  <hr>
  <div class="mt-4 mb-5">
    <p>
      A página que você procura não existe ou mudou de endereço <br>
      Verifique se o Link/URL do site está correto ou foi alterado para um novo ambiente
    </p>
  </div>
  <a href="/">
    <img src="/img/blaze-rod-draw.png" alt=" Voltar para página inicial.">
  </a>
</body>
</html>