<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found - IanSantosOS</title>
    <style>
        body {
            margin: 0;
            text-align: center;
            color: #ccc;
            background-color: #202020;
            font-family: Arial, Helvetica, sans-serif;
        }
        h1 {
            font-size: 65px;
        }
        .fa-github {
            color: #999;
            transition: .2s opacity;
        }
        .fa-github:hover {
            opacity: 0.5;
        }
    </style>
</head>

<body>
    <h1>404</h1>
    <hr color="#333">
    <br>
    <p>A página que você procura não existe ou mudou de endereço</p>
    <p>Verifique se o Link/URL do site está correto ou foi alterado para um novo ambiente</p>
    <img src="/img/sad-robot-flower.png" alt="" width="250px">
</body>
</html>