<!DOCTYPE html>
<html lang="pt-br">
<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="css/style.css">
  <title>Homepage</title>
</head>

<body>
  <h1>Welcome, <%= username %> :)</h1>
</body>
</html>