<!DOCTYPE html>
<html lang="pt-br">
<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/userPage.css">
  <title>Homepage | Blaze Rod</title>
</head>

<body data-bs-theme="dark">
  <nav id="navbar" class="navbar navbar-expand-lg bg-dark border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" href="">
        <img src="/img/blaze-rod.png" alt="Brand Logo" class="me-2" width="32">
        Blaze Rod
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbar-location" aria-controls="navbar-location" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" id="navbar-location">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Tabs</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav nav nav-underline me-auto mb-2 mb-lg-0">
            <%- include('../partials/userPageNavLinks') %>
          </ul>
          <form action="/auth/logout" method="post" class="d-flex align-items-center">
            <span class="me-3"><%= username %></span>
            <button class="btn btn-danger d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-in-right me-2" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
                <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
              </svg>
            </button>
          </form>
        </div>
      </div>
    </div>
  </nav>

  <main>
    <%- include('../partials/userPageContent') %>
  </main>

</body>
</html>