<!DOCTYPE html>
<html lang="pt-br">
<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="css/.css">
  <title>Sign Up</title>
</head>

<body>
  <h1>Sign Up</h1>

  <script src="js/.js"></script>
</body>
</html>