<li class="nav-item">
  <a class="nav-link" href="#scrollspyHeading1">Sobre</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#scrollspyHeading2">Mini-games</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#scrollspyHeading3">Mini-games</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#scrollspyHeading4">Mini-games</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#scrollspyHeading5">Mini-games</a>
</li>