<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="dark">
<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="css/template.css">
  <link rel="stylesheet" href="css/login_signup.css">
  <title>Log In | Blaze Rod</title>
</head>

<body>

  <div class="template-container">
    <%- include('../partials/alert') %>
  </div>
  
  <div class="alert-container"></div>

  <div class="box">
    <h1>Log In</h1>

    <form>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="username_email" name="username_email" placeholder="name ou name@example.com" autocomplete="off" autofocus required>
        <label for="username_email">Nome de Usuário ou Email</label>
      </div>
      
      <div class="form-floating mb-3">
        <input type="password" class="form-control form-control-danger" id="pass" name="pass" placeholder="Senha" autocomplete="off" required>
        <label for="pass">Senha</label>
      </div>

      <div class="d-grid mt-2">
        <button type="submit" class="btn btn-danger">Enviar</button>
      </div>
    </form>

    <p>Não tem uma conta? <a href="/signup">Cadastre-se</a></p>
  </div>

  <script src="js/login.js"></script>
</body>
</html>